<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../../css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../css/nav-footer.css">
    <link rel="icon" href="/images/prevento-logo.png" width="200">
    <title>Panel de administrador</title>
</head>

<body>
    <%- include('./partials/header') %>
        
        <div class="container-lg">
            <h1 class="text-center mt-3 pt-5">Panel de administración</h1>
            <% eventos.forEach(evento=> { %>

                <div class="row m-4 shadow rounded px-0" style="background-color: white">
                    <div class="col-12 col-sm-5 p-0 align-self-center">
                        <img src="images/uploads/<%= evento.imagen %>" class="card-img-top p-0 rounded-start my-auto">
                    </div>
                    <div class="col-12 col-sm-7 px-0 rounded-end">
                        <div class="row" id="nombreEvento">
                            <h3 class="text-center m-2 p-0 round">
                                <%= evento.nombre %>
                            </h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="col-12 col-sm-5 m-2 mt-3 text-center">
                                <i class="bi bi-calendar4-event p-1 mt-1"></i>
                                <%= evento.fecha_evento %>
                            </p>
                            <p class="col-12 col-sm-5 m-2 mt-3 text-center">
                                <i class="bi bi-geo-alt-fill pt-1 mt-1"></i>
                                <%= evento.direccion %>
                            </p>
                            <p class="col-12 text-center mt-2">
                                <%= evento.descripcion %>
                                    <% if (evento.usuario) { %>
                                        <p class="text-center m-0"> Organizador: <a
                                                href="mailto:<%= evento.usuario['email'] %>" class="link-dark">
                                                <%= evento.usuario['nombre'] %>
                                            </a></p>
                                        <% } %>
                                            <br>
                                            <a href="/products/descripcion/<%= evento.id %> "
                                                class="link-info text-center p-0 m-0">Detalle del evento</a>
                            </p>
                        </div>
                        <div class="row justify-content-center">
                            <form action=" /products/<%=evento.id%>/aprobar?_method=PATCH" method="POST"
                                class="col-5 col-sm-4 m-2 align-self-end">
                                <input type="hidden" name="id" value="<%= evento.id %> ">
                                <button class="btn btn-success align-self-end" style="width: 100%"> Aprobar</button>
                            </form>
                            <form action=" /products/<%=evento.id%>/rechazar?_method=PATCH" method="POST"
                                class="col-5 col-sm-4 m-2 align-self-end">
                                <input type="hidden" name="id" value="<%= evento.id %> ">
                                <button class="btn btn-danger align-self-end" style="width: 100%">Rechazar</button>
                            </form>

                        </div>
                    </div>
                </div>
                 <% }) %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

        <%- include('./partials/footer') %>
</body>

</html>