<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--VIEWPORT-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--BOOTSTRAP CDN-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="/css/descripcionproducto.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../../css/nav-footer.css">
  <link rel="icon" href="/images/prevento-logo.png">
  <title>home</title>
</head>

<body>
  <%- include('../partials/header') %>
    <div class="container-md text-center caja rounded shadow">
      <div class="row">
        <!-- imagen producto -->
        <div class="col-sm-6" style="padding: 0;">

          <img src="/images/uploads/<%=productoDetalle.imagen%>" alt="imagen_evento" class="imagen" style="
          border-top-left-radius: var(--bs-border-radius);
          border-bottom-left-radius: var(--bs-border-radius);">
        </div>
        <!-- descripcion del producto -->
        <div class="col-sm-6 p-0">
          <div id="nombreEvento">
            <h1 class="p-1 pt-2">
              <%=productoDetalle.nombre%>
            </h1>
          </div>
          <p>
            <%=productoDetalle.descripcion%>
          </p>


          <div class="row justify-content-center">
            <br>

            <div class="col-12 col-sm-4 p-2 align-middle" style="margin-left: 5px;">
              <i class="bi bi-calendar4-event p-1"></i>
              <select name="fechas" id="fechas">
                <option value="r">
                  <%=productoDetalle.fecha_evento%>
                </option>
              </select>
            </div>
            <div class="col-12 col-sm-6 p-2 align-middle">
              <i class="bi bi-geo-alt-fill pt-1 pr-1"></i>
              <p style="display: inline;">
                <%=productoDetalle.direccion%>
              </p>
            </div>
          </div>
          <br>
          <% if (session && (entrada.length==0 && ((productoDetalle.admin_id==session.id) || (session.admin)))) { %>
            <div class="col-12 pt-3">
              ¡Aún no has cargado entradas para este evento!
            </div>
            <div class="col-12" style="font-size: 0.8rem;">
              Podés hacerlo presionando el boton de editar evento.
            </div>

            <% } %>
              <% entrada.forEach(entrada=> { %>
                <div class="row justify-content-center m-0 p-2">
                  <div class="col-12">
                    <div class="form-check" style="margin-left: 5px;">
                      <input class="form-check-input" type="checkbox" name="entrada[]"
                        value="<%= entrada.sector.nombre %> $<%= entrada.precio %> $<%=entrada.id %>"
                        id="<%=entrada.id %>" style="float: none;">
                      <label class="form-check-label" for="<%=entrada.id %>">
                        <%= entrada.sector.nombre %> $ <div class="d-inline">
                            <%= entrada.precio %>
                          </div>
                      </label>
                    </div>
                  </div>
                </div>
                <% }) %>

                  <button id="carrito" type="button" class="btn btn-warning add-to-cart p-1 px-2"
                    style="font-size: 0.9rem;">Agregar al carrito</button>
                  <% if (session && ((productoDetalle.admin_id==session.id)|| (session.admin))) { %>
                    <a href="/products/editar/<%=productoDetalle.id%>"
                      class="action-button edit btn btn-warning text-black p-1 px-2" style="font-size: 0.9rem;"">
              Editar evento</a>
            <form action=" /products/<%=productoDetalle.id%>?_method=DELETE" method="POST" style="display:
                      inline-flex;font-size: 0.9rem;"
                      onsubmit="return confirm('Esta seguro que desea eliminarlo?');">
                      <button type="submit" class="btn btn-outline-success btn-buscar mb-4 p-1 px-2"
                        style="font-size: 0.9rem;"><i class="bi bi-trash"></i></button>
                      <% } %>
                        </form>
                        

        </div>
      </div>
    </div>
    </div>


    <!-- FOOTER -->
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
      <script>
        let boton = document.getElementById("carrito");
        boton.addEventListener("click", function () {
          var checkBoxEntradas = document.querySelectorAll('.form-check-input:checked');
          let entradas = [];
          if(checkBoxEntradas.length>0){
          for (let i = 0; i < checkBoxEntradas.length; i++) {
            let valorSeleccion = checkBoxEntradas[i].value; //Ej VIP $10500
            let sector = valorSeleccion.split('$')[0]; // Ej VIP
            let precio = valorSeleccion.split('$')[1]; // Ej 10500
            let id = valorSeleccion.split('$')[2];
            entradas.push({
              id: id,
              sector: sector,
              precio: precio,
              cantidad: 1
            })
          };

          let compra = {
            id: <%=productoDetalle.id %>,
            nombre: document.querySelector('#nombreEvento h1').innerText,
            imagen: document.querySelector('.imagen').getAttribute('src'),
            entradas: entradas
          };
          let carritoA = [];

          if (localStorage.getItem('carrito') != null) { // si el carrito no esta vacio
            carritoA = (JSON.parse(localStorage.getItem('carrito'))); 
          }
          carritoA.push(compra); //agrego la nueva compra 
          localStorage.setItem('carrito', JSON.stringify(carritoA));
        }else{
          alert('Añade al menos una entrada a tu carrito')
        }
        })

      </script>
</body>


</html>